# Ignore Python cache
/files/python/raksha/__pycache__/
/files/python/raksha/.cache/

# Ignore library files
/files/libs/sklearn-env/

# Ignore Miniconda linux installation
Miniconda3-latest-Linux-x86_64.sh

# Ignore the bifurcation sim files
/files/python/raksha/working_files/test_bifurcation/bifurcation.h5
/files/python/raksha/working_files/test_bifurcation/bifurcation.msh
/files/python/raksha/working_files/test_bifurcation/bifurcation.xdmf
/files/python/raksha/working_files/test_bifurcation/before.vtu
/files/python/raksha/working_files/test_bifurcation/after.vtu
/files/python/raksha/working_files/test_bifurcation/output/

# Ignore perfusion sim files
/files/python/raksha/working_files/test_perfusion/out_mixed_poisson/
/files/python/raksha/working_files/test_perfusion/.cache/
/files/python/raksha/working_files/test_perfusion/out_darcy/

# Ignore cloned libraries
/files/python/dolfinx-tutorial/

# Ignore SSCP training files
/files/python/SSCP_lectures/
/files/python/raksha/working_files/test_perfusion/__pycache__/

# Ignore the large files
/files/python/raksha/working_files/test_full_model/bifurcation.h5
/files/python/raksha/working_files/test_full_model/bifurcation.xdmf
/files/python/raksha/working_files/test_full_model/branched_network.geo
/files/python/raksha/working_files/test_full_model/branched_network.msh
/files/python/raksha/working_files/test_full_model/output/
/files/python/raksha/working_files/compare_steady_0.1_t25.mp4
/files/python/raksha/working_files/raksha_steady_0.01_t10.mp4
/files/python/raksha/working_files/test_full_model/bifurcation.vtu
/files/python/raksha/working_files/test_full_model/data_series.pkl
/files/python/raksha/working_files/test_full_model/test.py
/files/python/raksha/working_files/test_full_model/velocity_timeseries.h5
/files/python/raksha/working_files/test_full_model/velocity_timeseries.xdmf