# Ignore Python cache
/files/python/raksha/__pycache__/
/files/python/raksha/.cache/

# Ignore library files
/files/libs/sklearn-env/

# Ignore Miniconda linux installation
Miniconda3-latest-Linux-x86_64.sh

# Ignore the bifurcation sim files
/files/python/raksha/working_files/test_bifurcation/bifurcation.h5
/files/python/raksha/working_files/test_bifurcation/bifurcation.msh
/files/python/raksha/working_files/test_bifurcation/bifurcation.xdmf
/files/python/raksha/working_files/test_bifurcation/before.vtu
/files/python/raksha/working_files/test_bifurcation/after.vtu
/files/python/raksha/working_files/test_bifurcation/output/

# Ignore cloned libraries
/files/python/dolfinx-tutorial/

# Ignore the large files
/files/python/raksha/working_files/test_full_model/bifurcation.h5
/files/python/raksha/working_files/test_full_model/bifurcation.xdmf
/files/python/raksha/working_files/test_full_model/branched_network.geo
/files/python/raksha/working_files/test_full_model/branched_network.msh
/files/python/raksha/working_files/test_full_model/output/